.tag-xueyuanzhuangtai {
    border: 1px solid;
    font-size: x-small;
    font-weight: normal;
    padding: 3px;
}

.tag-xueyuanzhuangtai-zaidu {
    color: rgb(59, 189, 170);
    border-color: rgb(59, 189, 170);
}

.tag-xueyuanzhuangtai-qianzai {
    color: rgb(255, 162, 0);
    border-color: rgb(255, 162, 0);
}

.tag-xueyuanzhuangtai-lishi {
    color: rgb(93, 152, 224);
    border-color: rgb(93, 152, 224);
}
