.outline {
    display: flex;
    border: 1px solid #1890ff;
    border-radius: 2px;
    background-color: #1890ff;
    justify-content: middle;
    align-items: center;
}

.linkColor {
    padding: 4px 15px;
    color: white;
}