.daoke {
    display: flex;
    color: rgb(183, 235, 143);
    border-color: rgb(183, 235, 143);
    background-color: rgb(246, 255, 237);
    border: 1px solid;
    width: 3rem;
    justify-content: center;
}

.chidao {

}

.qingjia {
    display: flex;
    color: rgb(250, 84, 28);
    border-color: rgb(250, 84, 28);
    background-color: rgb(255, 242, 232);
    border: 1px solid;
    width: 3rem;
    justify-content: center;
}

.weidao {

}